pandas>=2.0.0,<3.0.0
numpy>=1.24.0,<2.0.0
requests
pymongo[srv]
scikit-learn>=1.3.0,<2.0.0
xgboost>=2.0.0,<3.0.0
streamlit>=1.35.0
python-dotenv
matplotlib
seaborn
openmeteo-requests
requests-cache
retry_requests
pytest
plotly
notebook
ipykernel
nbformat
nbconvert
